{% extends "layout.html" %}

{% block body %}
<h1>{{ title }}</h1>
<ul>
	{% for article in articles %}
	<li>
        <details>
            <summary>
                <h1>
		            <a href="{{ url_for("article", article_id=article.id) }}" rel="http://rels.example.org/article">
                        {{ article.title }}
                    </a>
                </h1>
            </summary>
            <article id="article{{ article.id }}">
                <dl>
                    <dt>title</dt>
                    <dd>{{ article.title }}</dd>

                    {% if article.pubdate %}
                    <dt>pubdate</dt>
                    <dd>
                        <time datetime="{{ article.pubdate }}">
                            {{ article.pubdate }}
                        </time>
                    </dd>
                    {% endif %}
                </dl>
            </article>
        </details>
	</li>
	{% endfor %}
</ul>
{% endblock %}
